@{
    ViewBag.Title = "About the foundation";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
    <div class="row">
        <img src="~/Images/DoGood.jpg" class="img-fluid" alt="Picture" />
    </div>

    <div class="row">
        <p>
            <h4>"Do Good Where You Are"</h4> is inspired by the gracious Pedi culture of helping and celebrating those around us.
            This foundation is rooted in doing good where you are and giving to those in your proximity.</br></br>

            This foundation is genuine and is all about making a positive and fullfilling change.
            With the current state of affairs, a global pandemic, economic recession and just lots of losses.
            We noticed that we can make a difference and add come joy and good to someone's day.</br></br>

            This foundation is aims at doing good where we are. We specifically target vulnerable women, disadvantages children and HIV/AIDS and cancer sufferers.
            We plan to make big and small positive changes in our community.
        </p>
    </div>
</div>

@Scripts.Render("~/bundles/bootstrap")