@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <ul>
        <li><a href="https://www.facebook.com/Rami-Chuene-Foundation-101683391605165/?ref=page_internal&_rdc=2&_rdr">Facebook</a></li>
        <li><a href="https://www.instagram.com/ramichuenefoundation/">Instagram</a></li>
        <li>Email: ramichuene@gmail.com</li>
        <li>Phone Number: 011 489 5520 </li><br />
        <li>
            <address>
                26 Inchanga Country Lofts<br />
                Randa rd<br />
                Craigavon<br />
                Gauteng<br />
                2191
            </address>
        </li>
    </ul>
</div>